asttokens==3.0.1
-e git+https://github.com/Robotics09Lab/ATI_FTsensor.git@933e43b2e531d4fe619253e0266f7f328762f5a7#egg=ATI_FTsensor
atiiaftt==0.1.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
deprecation==2.1.0
dill==0.4.1
executing==2.2.1
filelock==3.29.0
fonttools==4.63.0
fsspec==2026.4.0
hightime==1.0.0
idna==3.13
iniconfig==2.3.0
ipykernel==7.3.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
jupyter_client==8.9.1
jupyter_core==5.9.1
kiwisolver==1.5.0
linkify-it-py==2.1.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdit-py-plugins==0.6.0
mdurl==0.1.2
mpmath==1.3.0
nest-asyncio2==1.7.2
networkx==3.6.1
nidaqmx==1.5.0
nitypes==1.0.1
numpy==2.4.4
packaging==26.2
pandas==3.0.2
parso==0.8.7
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
pyserial==3.5
pytest==9.1.1
python-can==4.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.33.1
rich==15.0.0
scipy==1.17.1
setuptools==70.2.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
textual==8.2.5
-e git+https://github.com/Robotics09Lab/T-Motor-API.git@13391877eb0cd1f2761ffce47767d4d953b90558#egg=tmotorcan
torch==2.12.0+cu130
torchvision==0.27.0+cu130
tornado==6.5.7
traitlets==5.15.1
tree-sitter==0.25.2
tree-sitter-bash==0.25.1
tree-sitter-css==0.25.0
tree-sitter-go==0.25.0
tree-sitter-html==0.23.2
tree-sitter-java==0.23.5
tree-sitter-javascript==0.25.0
tree-sitter-json==0.24.8
tree-sitter-markdown==0.5.1
tree-sitter-python==0.25.0
tree-sitter-regex==0.25.0
tree-sitter-rust==0.24.2
tree-sitter-sql==0.3.11
tree-sitter-toml==0.7.0
tree-sitter-xml==0.7.0
tree-sitter-yaml==0.7.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uc-micro-py==2.0.0
urllib3==2.7.0
wcwidth==0.8.1
wrapt==1.17.3
